[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/promptline.vim"]
	path = bundle/promptline.vim
	url = git@github.com:edkolev/promptline.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
